
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: linear-gradient(to bottom right, rgb(229, 173, 213), white, rgb(188, 228, 188));
  }

  .logo{
    width: 150px;
    height: fit-content;
    position: relative;
    left: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 30px;
    border: 2px solid rgba(195, 75, 149, 0.539);
  }
  
  input[type="submit"] {
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(to bottom right, rgb(226, 215, 131), rgb(234, 193, 230));
    border: 1px solid #c592ad;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #5fe27b;
    border: 1px solid #105534;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }

  .changePassword{
    position: relative;
    left: 23%;
    color: rgb(214, 80, 201);
    font-size: 14px;
    cursor: pointer
  }

  .signUp{
    position: relative;
    top: 40px;
    left: 60px;
    color: black;
    font-size: 14px;
    cursor: pointer;


  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-family: monospace;
    /* text-shadow: 0 0 3px greenyellow; */
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }