.cheatsheets {
    position: relative;
    padding-top: 35px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cheatsheets-title {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.cheatsheets hr {
    width: 96%;
}

.cheatsheet-files {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cheatsheets img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin-bottom: 0px;
    border-top: 1px solid;
    padding-bottom: 0px;
}

.cheatsheet {
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.cheatsheet-title {
    padding: 10px;
    float: left;
}