.home {
    position: relative;
    padding-top: 35px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dashboard-title {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.home hr {
    width: 96%;
}

.files {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: left;
}


.home Link {
    border: 1px;
}

.files a {
    text-decoration: none;
  }

.file {
    border: 1px solid black;
    height: 135px;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}

.file-title {
    margin-left: 15px;
    margin-top: 0px;
    /* background-color: aqua; */
    text-decoration: none;
    color: black;
    
}

.home button {
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0;
    font-size: larger;
    background-color: white;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 5px;
    margin-top: 0px;
    z-index: 10;
}

.home button:hover {
    background-color: rgb(244, 244, 244);
}

.home img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid;
}


#plus-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c1c1c1;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    /* Add any other styles you want for the plus button */
  }


.popup-container {
    margin-top: 0px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Add any other styles you want for the popup container */
  }