.settings {
    position: relative;
    padding-top: 35px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings a {
    font-family: Arial, Helvetica, sans-serif;

}

#settings-title {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.settings hr {
    width: 96%;
}

.sub-hr {
    color: rgb(175, 175, 175);
}

.settings button {
    border-radius: 5px;
    margin: 5px 10px;
    letter-spacing: 1px;
    font-size: small;
    border: 0;
    padding: 8px;
}

#email-button, #password-button {
    /* float: right; */
    /* margin-right: auto; */
}

#delete-account, #confirm-delete {
    color: rgb(212, 5, 5);
}

#curr-email {
    margin-left: 10px;
    font-size: 12px;
    color:rgb(152, 152, 152)
}

.email-change {
    margin: 5px;
}

.change-password {
    margin: 5px;
}

.error-message {
    color: red;
}

