.settings {
    position: relative;
    padding-top: 35px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#settings-title {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.settings hr {
    width: 96%;
}

.sub-hr {
    color: rgb(175, 175, 175);
}

.settings button {
    border-radius: 5px;
    margin: 5px 10px;
}


